// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    scroll-behavior: smooth;
}

.carousel {
    height: calc(100vh);
}

.carouse-inner, .carousel-item {
    height: 100%;
}

.carousel-item {
    background-color: #000;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.scrollable {
    height: 100vh;
    overflow-y: auto;
}